* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --space: rgb(209, 92, 241);
}

body {
    background-color: black;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;    
    }    

    .container {
        padding: 10px;
    }
}


body header div img {
    position: relative;
}

.header1 {
    position: relative;
    font-weight: bolder;
    text-align: center;
}


header h1 {
    color:rgb(255, 255, 255);
    font-size: 50px;
    font-style: italic;
    margin: 5px;
    text-align: center;
}

h2 {
    margin: 5px 5px auto;
    color: rgb(255, 187, 0);
}

header p {
    font-style: bold;
    text-align: center;
    margin: 5px;
    color:#ffffff;
}


.image1 img {
    width: 100%;  /* Adjust width to container */
    height: auto; /* Prevents stretching */
    max-width: 500px; /* Set a max width to control size */
    box-shadow: 0pt 0pt 50pt 30pt rgb(149, 124, 153);
    margin-bottom: 50px;
    margin-top: 30px;
    
}


body nav {
    width: 100%;
    height: 50px;
    flex-wrap: wrap;
    background:rgb(20, 46, 118);
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size:5pt;
  
}

@media screen and (max-width: 780px) {
    body nav {
        background: rgb(178, 211, 227);
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    body nav ul li a{
        font-size: 12pt;
        flex-direction: row;
    }
    .aboutme:hover,.Experience:hover,.Education:hover
    {
        box-shadow:0px 0px 17px 10px rgba(255, 255, 255, 0.916), 0 0px 20px 0 rgb(247, 241, 241);
    }
    aside {
        width: 23%;
    }
}

body nav ul li {
    display: inline-flex;
    margin: 10px 30px auto; 
    font-size: 25px;
    flex-shrink: inherit;     
}

nav ul li a:hover {
    color: rgb(255, 0, 225);
}


.navbar ul li a{
    text-decoration: none;
    color:rgb(255, 187, 0);
}

aside {
    flex: 2 1 200px;
    width: 15%;
    height: 70%;
    background-color: rgb(20, 46, 118);
    color: #ffffff; 
    float: left;
    display:inline-block;
    margin-top: 2%;
  }

aside article li {
    font-size: 18px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    margin: 10px auto;
    border: 3px solid rgb(255, 187, 0);
}

aside li::before {
    content: '\1F98B';
}

aside a {
    color: white;
    text-decoration: none;
}

aside a:hover {
    background-color: fuchsia;
    color: rgba(255, 255, 255, 0.71);
    box-shadow:-1px 2px 5px -1px rgb(255, 187, 0);    
}

main {
    flex: 2 1 200px;
    margin-top: 2%;
}

main section {
    display: flex;
    flex-direction: column;
    flex: 2 1 200px;
}
.aboutme {
    width: 90%;
    background-color: rgb(149, 124, 153);
    margin: auto;
}

.aboutme p {
    margin: 20px;
}

section article p {
    font-size: 15px;
}

.Experience {
    width: 90%;
    height: auto;
    background-color: rgb(111, 88, 137);
    margin: 1% auto;
}

.Education {
    width: 90%;
    height: auto;
    background-color: rgb(48, 98, 158);
    margin: 1% auto;
}

.container {
    max-width: 90%;
    width: 100%;
    margin: 1% auto;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    background: rgb(144, 131, 145);
    flex-direction: row;
    padding: 1%;
}


.slider-wrapper .image-list {
    display:grid;
    gap: 10px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.image-item {
    border-radius: 8%;
    width: 200px;
    height: 200px;
}

.image-item:hover {    
    box-shadow:0 8px 10px 0 rgb(255, 187, 0), 0 6px 20px 0 rgb(255, 187, 0);
}

h3 {
    color: rgb(50, 0, 47);
    
}

.aboutme:hover,.Experience:hover,.Education:hover,.container,aside
{
    box-shadow:0px 0px 17px 10px rgb(255, 187, 0);
}
.part1 ul{
    padding: 2px;
}

#myPic
{
    width: 90%;
    margin: 10% 5%;
}
.part1 h2{
    text-align: center;
}

h4 {
    margin: 30px;
    text-align: center;
}

